.tamoora{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./tamoora.png);
    height: 100vh;

}

.rotana{
    background: url(./rotana.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(59, 59, 218);
    
}